.published {
  color: #11a604 !important;
  font-size: 1.8em;
  font-weight: 100;
}

.drafted {
  color: #00000080 !important;
}

.closed {
  color: #b73333 !important;
}

.published,
.drafted,
.closed {
  font-size: 1.8em;
  font-weight: 100;
}
