.btn-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #2e70a9;
}

.btn-outline-primary {
  color: #337ab7;
  border-color: #337ab7;
  background-color: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:hover .add-item-icon path {
  background-color: #337ab7;
  color: white;
  fill: white;
}
